{% extends "msggame/base.html" %}

{% block body %}



{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags %}{{ message.tags }}{% endif %}">{{message}}</div>
    {% endfor %}
{% endif %}



{% if user is None %}
<form method="post">
  {% csrf_token %}
  Please enter your secret PIN (back of your badge) to login: <br>
  <input id="login_pin" type="number" name="login_pin" size="6" maxlength="6" required>
  <input type="submit" name="submit" value="Login">
</form>



{% else %}

<p>Welcome, {{ user.name }} ({{ user }}).  Score={{ user.score }}.  Completed messages={{user.completed_messages|length}} Relays=</p>

<h3>Current game rules</h3>
<p>
  <ol>
    {% if round.send_messages %}           <li>Send messages to people to try to get them to their destination in as few hops as possible.  </li>{% endif %}
    {% if round.allow_new_links %}         <li>You are allowed to make new links.  </li>{% endif %}
    {% if round.require_links %}           <li>You can only send messages over existing links. </li>{% endif %}
    {% if round.max_links %}               <li>Max of {{round.max_links}} links.  </li>{% endif %}
    {% if round.disallow_existing_links %} <li>You can't send messages to people you have already linked with.  </li>{% endif %}
  </ol>
</p>

<form method="post">
  {% csrf_token %}

<h3>Your active messages</h3>
<ul>
  {% for msg in user.active_messages %}
  <li>
    target={{ msg.target.name}}
    path={{ msg.path_ids }}
    status={{ msg.status }}
    <input id="send_{{msg.id}}" type="number" name="send_{{msg.id}}" size="6" maxlength="6">
  </li>
  {% endfor%}
</ul>
<input type="submit" name="submit" value="Send">
</form>

<h3>Your current links</h3>
<p>
  You can currently send messages to:
  <ol>
    {% for link in user.current_links %}
    <li>{{link.destination.name}} {% if p.hint%}({{link.destination.hint}}){% endif %}</li>
    {% endfor %}
  </ol>
</p>

<p>
  <form method="post">
    {% csrf_token %}
    Add a new link to: <br>
  <input id="link_pin" type="number" name="link_pin" size="6" maxlength="6" required>
  <input type="submit" name="submit" value="Link">
</form>
</p>



<h3>Completed messages for this round</h3>
<p>
  <ol>
    {% for msg in user.completed_messages %}
    <li>You->{{msg.target.name}}, path={% for p in msg.path %}{{p.name}},{% endfor%}</li>
    {% endfor %}
  </ol>
</p>


{% endif %}

{% endblock %}
